@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #221811;
  --secondary: #5e534a;
  --tertiary: #f3eee7;
}

@font-face {
  font-family: "Golden Hopes";
  src: url("/fonts/GoldenHopes_PERSONAL_USE_ONLY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyOra Display";
  src: url("/fonts/IvyOraDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-golden: "Golden Hopes";
  --font-ivy: var(--font-ivyora), "IvyOra Display";
  /* --font-ivyora: var(--font-ivyora), "IvyOra Display"; */
  --font-montserrat: var(--font-montserrat);
  --font-dmsans: var(--font-dmsans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes contentFade {
  from {
    opacity: 0;
    transform: translateX(12px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-content {
  animation: contentFade 0.5s ease-in-out;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 180s linear infinite;
}

/* ================= GALLERY SWIPER CUSTOM STYLES ================= */
.gallery-swiper {
  width: 100%;
  overflow: visible !important;
}

.gallery-swiper .swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  transition: opacity 0.5s ease;
}

.gallery-card-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0 !important;
  width: 85vw;
  max-width: 872px;
  height: 260px;
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease;
  opacity: 0.85;
}

@media (min-width: 640px) {
  .gallery-card-wrapper {
    width: 600px;
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .gallery-card-wrapper {
    width: 872px;
    height: 480px;
  }
}

.gallery-swiper .swiper-slide-active .gallery-card-wrapper {
  height: 340px;
  opacity: 1;
}

@media (min-width: 640px) {
  .gallery-swiper .swiper-slide-active .gallery-card-wrapper {
    height: 450px;
  }
}

@media (min-width: 1024px) {
  .gallery-swiper .swiper-slide-active .gallery-card-wrapper {
    height: 600px;
  }
}